body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
}

main {
  padding-top: 100px; 
}




/* HEADER */
header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  background-color: #333;
  color: #fff;
  font-family: 'Dune Rise', sans-serif;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9); 
  transition: box-shadow 0.3s ease; 
}

header:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); 
}

.logo {
  font-size: 2rem;
  grid-column: 1 / 7; 
  margin-left: 20px;
}

nav {
  grid-column: 8 / 13; 
  display: flex;
  justify-content: space-evenly;
  margin-right: 20px;
}

nav span a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

nav span a:hover {
  text-decoration: underline;
}


/* ABOUT ME */
.container-about-me {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  position: relative;
  background-image: url('media/meNow.jpg');
  background-size: cover;
  background-position: center;
  height: 1000px; 
  align-items: center;
  margin-bottom: 20px;
  overflow: hidden;
  /* width: 100%; */
}

.about-content {
  grid-column: 2 / 8; 
  font-size: inherit;
  
}

.social-icons {
  grid-column: 3 / 6; 
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.social-icons a {
  color: #333;
  text-decoration: none;
  font-size: 30px; 
}

.social-icons a:last-child {
  margin-right: 0;
}




/* SKILLS */
.container-skills {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  padding-top: 20px; 
  margin-bottom: 40px;
}

.container-skills h1 {
  grid-column: 2 / 12; 
  
}

.container-skills p {
  grid-column: 2 / 12; 
  font-size: inherit;
}

.skills-icons {
  grid-column: 2 / 12; 
  display: flex;
  justify-content: space-between;
}

.skills-icons img {
  width: 100px; 
  height: auto; 
}



/* PROJECTS */
.container-projects {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  padding-top: 20px; 
  /* margin-bottom: 40px;  */
  
}

.project-sections {
  grid-column: 2 / 12; 
  
}

.project-sections section {
  flex-basis: calc(33.33% - 20px); 
  margin-right: 20px; 
  margin-bottom: 40px;
  padding: 20px; 
  background-color: #f5f5f5; 
  border-radius: 10px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.container-projects h1 {
  grid-column: 2 / 4; 
}



/* FOOTER */
footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  background-color: #333;
  color: #fff;
  font-family: 'Dune Rise', sans-serif;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

.footer-logo {
  font-size: 1.5rem;
  grid-column: 1 / 7;
  margin-left: 20px;
  color: #fff;
}

.footer-nav {
  grid-column: 8 / 13;
  display: flex;
  justify-content: space-evenly;
  margin-right: 20px;
}


.footer-nav span a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
  
}

.footer-nav span a:hover {
  text-decoration: underline;
}





/* MEDIA QUERIES */

/* Desktop/Laptop */
@media (min-width: 1024px) {
  .project-button {
    display: none;
  }
 
}


/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {

}



/* Mobile */
@media (max-width: 767px) {
  main {
    padding-top: 70px; 
    /* width: 100%;
    overflow-x: hidden; */
  }

  /* Header */
  header {
    grid-template-columns: 1fr; 
    padding: 10px; 
  }

  .logo {
    font-size: 1.5rem; 
    margin-left: 10px; 
  }
  
   nav {
    display: none; 
    
  }


    /* About Me */
  .container-about-me {
    height: auto; 
    padding: 20px; 
    width: 100%;
    
  }

  .container-about-me {
    height: auto;
    padding: 20px;
    background-position: left center; 
  }

  .about-content {
    grid-column: 1 / -1; 
    font-size: 1rem; 
  }

  .social-icons {
    grid-column: 1 / -1; 
    justify-content: center; 
  }

  .social-icons a {
    padding: 10px;
  }
  
  /* Skills */
  .container-skills {
    grid-template-columns: 1fr; 
    padding: 20px; 
    width: 100%;
    
  }

  .container-skills h1,
  .container-skills p {
    grid-column: 1 / -1; 
  }

  .skills-icons {
    grid-column: 1 / -1; 
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
  }

  .skills-icons img {
    width: 80px; 
    margin: 10px; 
  }

/* Projects */

  .project-iframe {
    grid-column: 1 / -1; 
  }

  .project-iframe {
    display: none; 
  }

  .project-button {
    grid-column: 1 / -1; 
    text-align: center; 
  }

  .project-button a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }



  /* Footer */
  footer {
    grid-template-columns: 1fr; 
    padding: 10px;
  }

  .footer-logo {
    font-size: 1rem; 
    margin-left: 10px; 
  }

  .footer-nav {
    display: none; 
  }

}


  



